<footer>
    <div class="footerContainer">
        <div class="footerContent">
            <img src="/assets/logo.png" alt="">
            <h2>{{title}}</h2>
            <p>{{slogan}}</p>
        </div>
        <div class="links">
            <div id="products" class="footerLinks">
                <h2>Products</h2>
                <div class="prodList">
                    <li><a href="#">{{BottleProducts.HotelBooking}}</a></li>
                    <li><a href="#">{{BottleProducts.domesticBooking}}</a></li>
                    <li><a href="#">{{BottleProducts.InternationalBooking}}</a></li>
                    <li><a href="#">{{BottleProducts.HoneyMoonPackage}}</a></li>
                    <li><a href="#">{{BottleProducts.YatraPackage}}</a></li>
                </div>
            </div>
            <div id="About Us" class="footerLinks">
                <h2>About Us</h2>
                <li><a href="#">{{BottleAbout.termsAndConditions}}</a></li>
                <li><a href="#">{{BottleAbout.aboutUs}}</a></li>
               <li><a href="#">{{BottleAbout.managament}}</a></li>
                <li><a href="#">{{BottleAbout.privacy}}</a></li>
                <li><a href="#">{{BottleAbout.careers}}</a></li>
            </div>
            <div id="socials" class="footerLinks">
                <h2>Socials</h2>
                <li><a href="#">{{BottleSocials.facebook}}</a></li>

                <li><a href="#">{{BottleSocials.instagram}}</a></li>
                
                <li><a href="#">{{BottleSocials.twitter}}</a></li>

                <li><a href="#">{{BottleSocials.email}}</a></li>
            </div>
        </div>
        <div class="copyWrite">
            &#169; 2024 CopyRight Bottle- Hotel Booking website
        </div>
    </div>
</footer>  