nav{
    /* border: 1px solid red; */
    height: 80px;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
nav > .one{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
}
.one img{
    width: 50px;
    cursor: pointer;
}

nav > .two{
    /* border: 1px solid red; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    color: rgb(107, 107, 107);
    font-size: 18px;
    padding: 5px;
}